.container .card {
    position:unset;
    border: none;
    margin-bottom:1.5em;

    .card-title {
        font-weight: bold;
    }

    .card-body .card-text {
        font-size:1.5em
    }
}

.container .card .img_container {
    display: flex;
    position: relative;
    width: 50%;
    

    img {
        margin: 0 auto;
        width: 90%;
        height: 100%;
        object-fit: contain;
      
    }
    .card-img-hover {

        position: absolute;
        top: 0;
        display: flex;
        margin:0 auto;
        right: 0;
        opacity: 0;
        left: 0;
        bottom: 0;
        transition: opacity .2s;
    }
    .card-img-hover:hover {
        opacity: 1;
        
    }

 
 
}



@media (min-width:1024px) {
    .container .card .img_container img {
      width: 100%;
    }  

    .container .card {
        width: 100%;

        .card-body .card-title {
            font-size:2em;
        }

        .card-body button  {
            width: 70%;
            padding:1em;
        }
    }
}