
.landing {
    position: absolute;
    top:0;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    animation-name: fade;
    animation-duration: 0.1s;
    transition: 0.3s all;
    background-position: 55%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;

    @media (min-width:1024px) {
        background-position: center;
        height: 100vh;
        
        margin-bottom: 10em;
        }

    .landing_text {
        z-index:3;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        

        p {
            font-weight: bold;
            font-family: 'Anuphan';
            text-align: center;
            color: var(--primary-white);
            opacity: 0.7;
            font-size: 1em; 
            letter-spacing: 0px;
        
        }
        
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.landing_buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    top:75vh;
    z-index:4;
    font-family: 'Anuphan';

    a {
        padding: 1em;
        letter-spacing: 1px;
        background-color: var(--dark-bg);
        opacity: 0.7;
        margin:1em;
        color:var(--primary-white);
        text-align:center;
        
        @media (min-width:1024px){
            font-size: 1.2em;
            padding: 1.5em;
            width: 300px;
        }
    }

    :hover {
        opacity: 1;
        text-decoration: none;
    }
}

.landing::after {
    height: 100vh;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: black;
    opacity: 0.3;
}

