
@media (min-width: 1024px) {

    .header {
   display: flex;
   justify-content: space-between;
   background-color:var(--dark-bg);
   color:var(--primary-white)
   
    }

    .header .logo_container {
        position: relative;
        left: 10%;
        display: flex;
        align-items: center;

        img {
            width: 50%;
        }
    }
    .header .header_list  {
       
        width: 40%;
        display: flex;
        align-items: center;
        
        ul {
            list-style: none;
            display: flex;
            height: 100%;
            margin:1em;
            
   
            li {
                margin:1em;
                display: flex;
                align-items: center;
                padding:0.5em;
                border-radius: 10px;
            }

            li:hover {
                background-color: grey;
                opacity: 0.5;
                transition: 0.1s ease-in-out;
            }
        }
    
    }
    
}

