
  @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200&display=swap');

* {
    font-family: 'Anuphan', sans-serif;}




html {
    box-sizing: border-box;
    margin:0 auto;
    font-family: 'Ysabeau', sans-serif;
    scroll-behavior: smooth;
}

.App {
    width: 100%;
}

:root {
    --blue:#17a2b8;
    --dark-bg: #000000;
    --primary-white:#FDF4F5;
}

.landing-loading {
    
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: var(--dark-bg) transparent var(--dark-bg) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }