.product-detail-container {
    height: 100vh;
    position: relative;
    top:10vh;
    transition: 1s;


    @media (min-width:1024px){
        display: flex;
        width: 70%;
        height: 70vh;
    }

    .product_modal {

        transition: opacity 0.5s;
        
        width: 95%;
        border: 0;
        box-shadow: 0 0 1em rgb(0 0 0 / .3);

        
        @media (min-width:1024px){
            width: 50ch;
        }
        h1 {
            font-size:2em;
            font-weight: bold;
        }

        .link {
            padding: 0.1em;
            display: flex;
            align-items: center;
            gap:10px
 
        }
        .link:hover {
            transition: 1s;
            text-decoration:underline;
        }
        p {
            font-weight: lighter;
            font-size: 1.1em;
        }
        li {
            margin:1em;
        }
        button {
            width: 80%;
        }
    }

    .product_modal::backdrop {
        background: black;
        opacity: 0.4;
       }

       dialog {
        display:none;
       }
       dialog[open] {
        display: block;
        animation: myFadeIn 0.4s ease normal;
      }
      
    @keyframes myFadeIn{
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    button {
      
        margin-left: 10%;
        margin-bottom: 1em;
        font-weight: bold;
        border: none;
        background-color: var(--light);
        color: var(--gray);
        border:1px solid var(--gray);
        padding:0.7em;
        font-size: 0.9em;
        width: 80%;
        
    }

    button:hover {
        background-color: var(--gray);
        color:var(--light)
    }

    .go_back_container {
        margin: 1em;
        font-weight: bold;
    }

    p {
        margin:1em;
        font-size:1.5em;
        font-weight: bold;
    }

    li {
        list-style: none;
        font-weight: bold;
    }

    .product-details {
     
        position: relative;
        top:15%;
        flex-direction: column;
    }


    .product_detail_image {
        position: relative;
        height: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        object-fit: cover;
        transition: 0.5s all;

        @media (min-width:1024px){
            width: 60%;
            height: 80%;
            top:13%
        }
    }

    .product_other_images {
        position: relative;
        top:100%;
        padding:1em;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        img {
            width: 15%;
            height: 15%;
        
        }
    }
}

@media (min-width:1024px){

 .product-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
    }
 }
  .product-detail-container button {
    width: 100%;
    
    font-weight: bold;
  }



  .product-detail-container li {
    font-size:1.2em;
  }
    .product_detail_image {
    
       margin: 0 auto;
    }

   
}