
.categories_section {
    position: relative;
    margin-top:100vh;
    background-color: var(--primary-white);
    font-family: 'Poppins', sans-serif;
    
    @media (min-width:1024px){
        margin-top: 110vh;
    }

    .categories {
        @media (min-width:1024px){

            display: flex;
            justify-content: center;
            
        }
    }
}




.latest_post {
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   

   @media (min-width:1024px){
    flex-direction: row;
    gap:5em;
    margin-bottom:3em;
}
}

.latest_home_card:hover {
    @media (min-width:768px){
        border: 1px solid var(--dark-bg);
  transform: scale(1.1);
  border-radius: 13px;
    }
}
.latest_post .latest_home_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1em;
    transition: 0.3s all;

    @media (min-width:1024px){
        width: 25%;
    }

    .product_options {
        width: 55%;
        margin:0 auto;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        left: 50%;    
        bottom:0;
        top:80%;

        svg {
            margin:0.2em;
            border-radius: 30px;
            background-color: var(--primary-white);
            padding:0.7em;
           @media (min-width:1024px){
            padding:0.5em;
            border-radius: 30px;
           }
        }

        svg:hover{
            transform: scale(1.2);
            transition: 0.1s all;
        }

        @media (min-width:1024px){
            left: 0;
            top:80%;
            width: 50%;
            margin:0 auto;
            height: 20%;
            
        }
   
    }
    .image_home_card {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: relative;

    }

    h1 {
        
        margin:0.5em;
        font-size: 1.5em;
        text-align: center;
    }

    p {
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }
    img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imghome-card-hover {
        position: absolute;
        top: 0;
        display: flex;
        margin:0 auto;
        right: 0;
        opacity: 0;
        left: 0;
        bottom: 0;
        transition:  .2s;

    }
    .imghome-card-hover:hover{
        opacity: 1;
        
    }
}


